.add_usuario, .add_grupo, .add_cargo{
    background-color: #27293d;
    color: #ffffff;
}
.permissoes i{
    margin-right: 5px;
}

.gerencia-body .card-body{
    max-height: 350px;
    overflow-y: auto;
    padding: 0;
    margin: 15px;
    margin-bottom: 40px;
}

.count-cards{
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-weight: bold;
}